.topProfileContainer { 
    padding-top: 100px; 
    padding-bottom: 100px; 
    background-image: url('../../images/fit.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    border-bottom-left-radius:47%;
    border-bottom-right-radius:47%;
    box-shadow: rgba(0, 0, 0, 0.65)  8px 8px 20px 0px;
}

.macroSliderContainer {
    overflow-x: hidden;
}


.chartCol {
    display: flex;
    justify-content: flex-end;
}

.chartContainer  {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.8));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    width: 280px;
}

.profileInfoContainer {
    box-shadow: rgba(0, 0, 0, 0.65)  8px 8px 20px 0px;
    width: 350px;
    margin-top: 30px;
}
.profileInfoContainer li {
    background-color: rgba(63, 81, 181, 0.4);
    color: white;
}

.profileIcon {
    margin-right: 8px; 
    margin-bottom: 5px; 
    font-size: 22px;
}

.profileInfoNumbers {
    font-weight: 300;
    margin-left: 8px;
}

.bottomProfileContainer {
    background: linear-gradient(130deg,#7eddb1,#00b698);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.65)  8px 8px 20px 0px;
    width: 360px;
    min-width: 360px;
}

.saveButton {
    background-color: #3f51b5;
    padding: 10px 32px;
    margin-top: 20px;
}

.saveButton:hover {
    background-color: #6375da;
    border-color: #6375da;
}

.changeSettingsDiv {
    margin-bottom: 20px;
    border-bottom: solid 1px white;
}

.changeCaloriesDiv {
    margin-bottom: 20px;
}

.savedMessage {
    margin-top: 15px;
}

.userInfoHeading{
    text-align: center;
    line-height: 2;
    height: 50px;
    background-color:rgba(63, 81, 181, 0.6);;
    color: white;
    text-shadow: 0px 0px 0px white;
}

@media only screen and (min-width: 784px) {
    .piechart {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 784px) {
    .chartCol {
        justify-content: center;
    }
    .profilePictureCol {
        justify-content: center;
        padding-bottom: 30px;
    }
    .profileInfoCol {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    .topProfileContainer { 
        border-bottom-left-radius:0%;
        border-bottom-right-radius:0%;
    }
    .bottomProfileContainer {
        width: 90%;
        max-width: 380px;
        min-width: 320px;
    }
}