

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10; /* Since positioning the image, we need to help out the caption */
}


/* background: linear-gradient(130deg,#7eddb1,#00b698); */

/* Circular Top Main Container */
.CircularProgressbar {
  text-shadow: 1px 1px 1px white;
}

.topMainRow {
  background: linear-gradient(130deg,#7eddb1,#00b698);
  border-bottom-left-radius:47%;
  border-bottom-right-radius:47%;
  padding-bottom: 75px;
  margin-bottom: 50px;
  justify-content: center;
}

.circleCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circleCol p {
  font-size: 38px;
  color: white;
  padding: 20px 0;
}

.eatenCol {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.eatenDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FoodListRow */
.foodListRow {
  flex-direction: column;
  align-items: center;
}

.foodListWrapper {
  box-shadow: rgba(0, 0, 0, 0.45)  8px 8px 20px 0px;
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

.dropdown-list {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 1px solid #ced4da;
  border-radius: 2px;
  box-shadow: 0px 2px 9px #999;
}



.dropdown-list p {
  line-height: 2.1;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

/* DATE PICKER  */

.openCalendarButton:hover {
  transform: scale(1.2)
}

.datetimeRow {
  margin-bottom: 20px;
}
.date-picker {
  position: relative;
  margin-top: 20px;
}

/* Control buttons  */
.date-control
{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 10%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

.date-picker .right
{
  right: 0;

}

.date-picker .left   {
  left: 0;
}

.date-control:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

/* starting ENTER animation */
.messageout-enter {
  top: 0;
  left: calc(13% + 5px);
  right: calc(13% + 5px);
  opacity: 0.01;
  transform: translateY(0%) scale(0.01);
}

/* ending ENTER animation */
.messageout-enter-active {
 
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: all 1000ms ease-in-out;
}

/* starting EXIT animation */
.messageout-exit {

  opacity: 1;
  transform: scale(1.01);
   transform: translate(5px, 0px);
}

/* ending EXIT animation */
.messageout-exit-active {

  opacity: 0;
  transform: scale(4);
  transition: all 1000ms ease-in-out;
  position: absolute;
  right: 47px;
  top: -1px;
}

#current-date-shown { 

}


/*Eaten Food List  */
.eatenFoodListCol {
  background: linear-gradient(130deg,#7eddb1,#00b698);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.65)  8px 8px 20px 0px;
  width: 360px;
  min-width: 360px;
}

/* Empty Space */
.emptySpace {
  padding: 50px;
}

.calendar {
  font-size: 24px;
  padding-right: 5px;
}

.search {
  margin-bottom: 15px;
}

.searchButton {
  background-color: #3f51b5
}

@media only screen and (max-width: 770px) {
  .topMainRow {
    border-bottom-left-radius:0%;
    border-bottom-right-radius:0%;
  }
}

@media only screen and (min-width: 770px) {
  .eatenFoodListCol {
    width: 450px;
  }

  .eatenDiv {
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1080px) {
  .eatenDiv {
    margin-right: 0px;
  }
}