.dropdownContainer{
    position: relative;
}

.reactjs-modal {
    font-size: 12px;
}

.reactjs-modal > .modalHeader {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.reactjs-modal > .modalContent {
    width: 100%;
    padding: 10px 5px;
}

.reactjs-modal > .modalActions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.reactjs-modal > .modalClose {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.modalButton {
    font-family: Roboto,Arial,sans-serif;
    color: #000;
    cursor: pointer;
    padding: 0 30px;
    display: inline-block;
    margin: 10px 15px;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1.5px;
    font-size: 1em;
    outline: none;
    position: relative;
    font-size: 14px;
    border: 3px solid #cfcece;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    transition: all .3s;
}

.openModal {
    color: #242424;
    list-style: none;
    font-size: 14px;
    text-align: left;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .4;
    z-index: 1;
    cursor: pointer;
}

.openModal:hover {
    background-color: #f2f2f2;
  }

.openModal:hover .icon-container{
    transform: translate(20px, 0px);
    visibility: visible;
}

.icon-container {
    visibility:  hidden;
    line-height: 3.6;
    float: right;
    display: table-cell;
    vertical-align: middle;
    transition-duration: 0.5s;
    padding-right: 50px;
}

/* .modalCols {
    display: flex;
    justify-content: center;
} */

.list-group-modal {
    max-width: 300px;
}

#inputGroupModal {
    max-width: 200px;
}

#dropdownModal {
    top: 40px !important;  
    left: 100px !important;
    transform: none !important;
}

.modalHeader {
    text-transform: capitalize;
    font-weight: 500;
}

.list-group-modal .list-group-item:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.list-group-modal .list-group-item:first-child p {
    padding-left: 0px;
    line-height: 1.8;
    font-weight: 600;
}

.list-group-modal .list-group-item:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#inputQuantity {
    height: 40px;
}

.popup-content {
    min-width: 300px;
}

p {
    margin: 0;
}


.small-info {
font-size: 0.7rem;
}

.text-center {
text-align: center;
}
.thick-end {
border-bottom: 10px solid black;
}
.thin-end {
border-bottom: 1px solid black;
}

.image {
    width: 250px;
    float: left;
    margin: 20px;
}

@media only screen and (max-width: 770px) {
    #inputGroupModal {
        margin-top: 10px;
    }
}