/*Global CSS rules*/

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-size: 1.8rem;
  color: #242424;
  margin: 0;
  padding: 0;
  height: 100% !important;
  min-height: 100% !important;
  background-color: #f4f3f0;
}

#root, .main {
  height: 100%;
}

.largeFont {
  font-size: 38px;
}

.mediumFont {
  font-size: 24px;
}

.smallFont {
  font-size: 17px;
}

.extraSmallFont {
  font-size: 13px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}