.loginPage {
  min-height: 100%;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}
.logo-wrapper img{
  width: 200px;
}

.loginPage .form {
    padding: 1em;
    text-align: left;
    padding: 1em;
    margin: 1em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 100px;
  }
  
  .loginPage .label {
    display: flex;
    font-weight: 600;
    color: #474c7c;
  }
  
  .loginPage .form-control {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0.5px solid;
    border-color: #ccc;
    font-family: 'VSCO Gothic Book', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .loginPage .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #register-text {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 3rem;
  }

  .loginPage  button {
    justify-content: flex-end;
    float: right;
    margin: 40px;
    padding: 0;
    color: #888;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.0625rem;
    cursor: pointer;
    min-width: 113px;
    height: 48px;
    background: #F6F6F6;
    color: #888;
    border: 0;
    border-bottom: 1px solid #ddd;
  }

  .loginPage button:hover {
    background: #3f51b5;
  }

  .loginPage .form-group {
    margin-bottom: 2.5rem;
  }
  
  .logo-wrapper {
    text-align: center;
    margin-bottom: 50px;
  }

  .register-link {
    justify-content: flex-end;
    float: left;
    margin-top: 40px;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.0625rem;
    cursor: pointer;
    border: none;
    color: #888;
    margin-bottom: 50px;
  }

.register-link:hover {   
  color: #3f51b5;
  }

#welcome-text {
  margin-top:15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.0625rem;
} 

  @media screen and (max-width:770px) {
    /* something */
    .loginPage .form {
      width: 500px
    }
    #login-button{
      margin: 20px;
    }
    .register-link{
      margin-top: 25px;
    }
    
  }

  @media screen and (max-width:500px) {
    /* something */
    .loginPage .form {
      width: 300px;
    }

    #login-button{
      margin: 0;
      margin-right: 20px;
    }

    #welcome-text {
      visibility: hidden;
      display: none;
    }
    
  }