

.foodListEntry {
  position: relative;
  width: 100%;
  border: solid #aaa 1px;
  border-bottom: none;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: white;
}

.food-image-wrap2 {
  height:40px;
  width:40px; 
  margin-right:10px;
} 

.common-food-image2 {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.kcalDiv {
  margin-left: auto;
  padding-right: 5px;
  font-size: 14px;
}

.deleteFoodIcon:hover {
  transform: scale(1.05);
  cursor:  pointer;
}