

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10; /* Since positioning the image, we need to help out the caption */
}

/* background: linear-gradient(130deg,#7eddb1,#00b698); */

/* Circular Top Main Container */

.topMainRow {
  background: linear-gradient(130deg,#7eddb1,#00b698);
  border-bottom-left-radius:47%;
  border-bottom-right-radius:47%;
  padding-bottom: 75px;
  margin-bottom: 50px;
}

.circleCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circleCol p {
  font-size: 38px;
  color: white;
  padding: 20px 0;
}

.eatenCol {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.eatenDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eatenDiv span {
  font-size: 26px;
}

/* FoodListRow */
.foodListRow {
  flex-direction: column;
  align-items: center;
}

.foodListWrapper {
  width: 30%;
  border-bottom: solid #aaa 1px;
  box-shadow: rgba(0, 0, 0, 0.45)  8px 8px 20px 0px;
}

ul {
  list-style-type: none;
}

.dropdown-list {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 1px solid #ced4da;
}



.dropdown-list p {
  line-height: 2.1;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

/* DATE PICKER  */

.date-picker {
  margin-bottom: 60px;
  position: relative;
}

/* Control buttons  */
.date-control
{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 10%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

.date-picker .right
{
  right: 0;

}

.date-picker .left   {
  left: 0;
}

.date-control:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

/* starting ENTER animation */
.messageout-enter {
  top: 0;
  left: calc(13% + 5px);
  right: calc(13% + 5px);
  opacity: 0.01;
  transform: translateY(0%) scale(0.01);
}

/* ending ENTER animation */
.messageout-enter-active {
 
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: all 1000ms ease-in-out;
}

/* starting EXIT animation */
.messageout-exit {

  opacity: 1;
  transform: scale(1.01);
   transform: translate(5px, 0px);
}

/* ending EXIT animation */
.messageout-exit-active {

  opacity: 0;
  transform: scale(4);
  transition: all 1000ms ease-in-out;
}

#current-date-shown { 

}

/* Footer */
.footerRow {
  background: linear-gradient(130deg,#00b698, #7eddb1);
  border-top: solid #555 1px;
  padding: 20px;
  font-size: 13px;
  color: white;
}

/* Empty Space */
.emptySpace {
  padding: 25px;
}