.macroDiv {
    width: 300px;
    margin: 0 auto;
}
  
.slider {
    padding: 22px 0px;
}

.boldText {
    font-weight: 500;
}

@media only screen and (max-width: 784px) { 
    .macroDiv {
        width: 270px;
    }
}